:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}
.name {
  color: #f23c5c;
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 54px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
  padding-top: 20px;
}
.greeting img,
.about img {
  display: block;
  margin: auto;
}
.greeting,
.about,
.work {
  margin-top: 130px;
  margin-bottom: 100px;
}
.about-info {
  padding-right: 70px;
}
.pin {
  max-width: 35px;
  padding-bottom: 25px;
}
.project-name span {
  font-weight: bold;
  font-size: 48px;
  padding-left: 10px;
}
.projects {
  margin: 70px;
}
.project-info {
  font-size: 26px;
}
.project-link {
  border-radius: 4px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}
.project_1 {
  background-color: #ff9f40;
}
.project_2 {
  background-color: #f23c5c;
}
.project_3 {
  background-color: #8080ff;
}
.projects-page {
  background-color: #0172fb;
}
.project-link:hover {
  color: #000000;
}
.project-image img {
  display: block;
  margin: auto;
  max-width: 950px;
  border: solid 8px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.weather-app-img {
  padding: 27px 250px;
}
.project-img {
  box-shadow: var(--box-shadow);
}
@media (max-width: 960px) {
  body {
    text-align: center;
    margin: 10px;
  }
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 34px;
  }

  .pin {
    max-width: 25px;
    padding-bottom: 12px;
  }
  .project-name span {
    font-size: 28px;
    padding-left: 7px;
  }
  .project-info {
    font-size: 16px;
  }
  .projects {
    margin: 35px;
  }
  .greeting {
    margin-top: 45px;
    margin-bottom: 25px;
  }
  .project-link {
    padding: 10px 15px;
    font-size: 16px;
  }
}
.about-info p {
  font-size: 24px;
  padding-bottom: 25px;
}
.work {
  text-align: center;
}
