body {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #f23c5c;
  font-weight: bold;
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 54px;
}
img {
  display: block;
  margin: auto;
}
.greeting {
  margin-top: 130px;
}
.main-info {
  padding-top: 100px;
}
